@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scrollbar-width: thin;
}
@media only screen and (max-width: 82em) {
  html {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #545f7d;
}

.heading-primary {
  color: #213f7d;
  font-weight: 500;
  font-size: 2.4rem;
}

.heading-secondary {
  color: #213f7d;
  font-weight: 600;
  font-size: 2.4rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 500;
  color: #213f7d;
  text-transform: capitalize;
}

.u-margin-bottom {
  margin-bottom: 3.2rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 3rem !important;
}

.lowertxt {
  text-transform: lowercase !important;
}

.bdr {
  margin: 4.8rem 0 !important;
  border: 1px solid rgba(33, 63, 125, 0.15);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.header {
  width: 100%;
  height: 7rem;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
}
.header__link {
  color: #213f7d;
}
@media only screen and (max-width: 44em) {
  .header__link {
    display: none;
  }
}

.menu__btn {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.3rem;
  background: none;
  transition: all 0.2s;
}
.menu__btn:hover {
  background: rgba(33, 63, 125, 0.1);
}
@media only screen and (max-width: 55em) {
  .menu__btn {
    display: flex;
  }
}
.menu__icon {
  font-size: 2.4rem;
  color: #545f7d;
  cursor: pointer;
}

.search {
  width: 40rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
}
@media only screen and (max-width: 31.3em) {
  .search {
    display: none;
  }
}
.search__input {
  border: none;
  border-left: 1px solid rgba(33, 63, 125, 0.15);
  border-top: 1px solid rgba(33, 63, 125, 0.15);
  border-bottom: 1px solid rgba(33, 63, 125, 0.15);
  outline: none;
  flex: 1;
  padding-left: 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
  border-radius: 0.8rem 0 0 0.8rem;
}
.search__btn {
  background-color: #39cdcc;
  border: none;
  outline: none;
  cursor: pointer;
  width: 6rem;
  height: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
}
.search__icon {
  font-size: 1.6rem;
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #213f7d;
}
@media only screen and (max-width: 55em) {
  .profile {
    display: none;
  }
}
.profile__icon {
  font-size: 2.4rem;
  cursor: pointer;
}
.profile__icon[name=caret-down-outline] {
  font-size: 1.6rem;
}
.profile__img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}
.profile__name {
  font-weight: 500;
}

.content {
  width: calc(100% - 28rem);
  background-color: #fbfbfb;
  padding: 4.8rem;
  transition: all 0.5s;
}
@media only screen and (max-width: 55em) {
  .content {
    width: 100%;
    padding: 2.4rem;
  }
}
.content__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__heading-btn {
  background: none;
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}
.content__heading-btn--blacklist {
  border: 1px solid #e4033b;
  color: #e4033b;
  margin-right: 2rem;
}
@media only screen and (max-width: 31.3em) {
  .content__heading-btn--blacklist {
    margin-right: 1rem;
    padding: 1rem 1rem;
  }
}
.content__heading-btn--activate {
  border: 1px solid #39cdcc;
  color: #39cdcc;
}
@media only screen and (max-width: 31.3em) {
  .content__heading-btn--activate {
    padding: 1rem 1rem;
  }
}
@media only screen and (max-width: 31.3em) {
  .content__heading {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.status {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.6rem;
}
@media only screen and (max-width: 75em) {
  .status {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}
@media only screen and (max-width: 31.3em) {
  .status {
    grid-template-columns: 1fr;
  }
}
.status__box {
  background-color: #fff;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
}
.status__icon {
  font-size: 2.2rem;
  padding: 1.8rem;
  border-radius: 50%;
}
.status__icon--1 {
  color: #df18ff;
  background-color: rgba(223, 24, 255, 0.08);
}
.status__icon--2 {
  color: #5718ff;
  background-color: rgba(87, 24, 255, 0.08);
}
.status__icon--3 {
  color: #f55f44;
  background-color: rgba(245, 95, 68, 0.08);
}
.status__icon--4 {
  color: #ff3366;
  background-color: rgba(255, 51, 102, 0.08);
}
.status__title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1.2rem 0 1.4rem 0;
}

.table_wrapper {
  padding: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 0.8rem;
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 75em) {
  .table_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.table_wrapper::-webkit-scrollbar {
  height: 4px;
}

.table {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  border-collapse: collapse;
}
@media only screen and (max-width: 75em) {
  .table {
    width: 800px;
  }
}
.table__row {
  text-align: left;
  position: relative;
}
.table__head-main {
  position: relative;
}
.table__head {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 0 1.6rem 0;
  cursor: pointer;
}
.table__icon {
  font-size: 1.6rem;
  cursor: pointer;
}
.table__body .table__row:not(:last-child) {
  border-bottom: 1px solid rgba(33, 63, 125, 0.15);
}
.table__data {
  font-size: 1.4rem;
  padding: 1.6rem 0 1.6rem 0;
}
.table__data:nth-child(1), .table__data:nth-child(2) {
  text-transform: capitalize;
}
.table__data div {
  display: flex;
  align-items: center;
}
.table__data-status {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border-radius: 50px;
  margin-right: auto;
  text-transform: capitalize;
}
.table__data-status--1 {
  color: #545f7d;
  background-color: rgba(84, 95, 125, 0.08);
}
.table__data-status--2 {
  color: #e9b200;
  background-color: rgba(233, 178, 0, 0.08);
}
.table__data-status--3 {
  color: #e4033b;
  background-color: rgba(228, 3, 59, 0.08);
}
.table__data-status--4 {
  color: #e9b200;
  background-color: rgba(233, 178, 0, 0.08);
}
.table__data-status--5 {
  color: #39cd62;
  background-color: rgba(57, 205, 98, 0.08);
}

.form-filter {
  background-color: #fff;
  width: 27rem;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 1;
  top: 5rem;
  left: -2rem;
  transition: all 0.4s;
}
.form-filter__label {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.form-filter__select, .form-filter__input {
  margin: 0.6rem 0 2rem 0;
  height: 4rem;
  border-radius: 3px;
  border: 1px solid rgba(33, 63, 125, 0.15);
  outline: none;
  text-transform: capitalize;
  font-family: inherit;
  color: inherit;
}
.form-filter__select {
  padding-left: 1.6rem;
}
.form-filter__input {
  padding-left: 2rem;
}
.form-filter__btn-holder {
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
  margin-top: 1rem;
}
.form-filter__btn {
  flex: 1;
  border: none;
  padding: 1.2rem 2.4rem;
  font-family: inherit;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-transform: capitalize;
}
.form-filter__btn--reset {
  border: 1px solid #213f7d;
  background: none;
  color: inherit;
}
.form-filter__btn--filter {
  background-color: #39cdcc;
  color: #fff;
}

.more-details {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 2rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 2rem;
  right: -4rem;
}
.more-details__link:any-link {
  text-transform: capitalize;
  text-decoration: none;
  color: #545f7d;
  font-weight: 500;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 31.3em) {
  .pagination {
    flex-flow: column-reverse;
    gap: 1.8rem;
  }
}
.pagination__text {
  font-size: 1.4rem;
}
.pagination__page-select {
  background-color: rgba(33, 63, 125, 0.2);
  color: #213f7d;
  font-weight: 500;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: 0 1rem;
}
.pagination__page {
  display: flex;
  gap: 2rem;
}
.pagination__btn {
  background-color: rgba(33, 63, 125, 0.2);
  border: none;
  outline: none;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pagination__icon {
  font-size: 1.4rem;
  color: #213f7d;
}
.pagination__link:any-link {
  text-decoration: none;
  color: rgba(84, 95, 125, 0.6);
}
.pagination__link--active:any-link {
  color: #545f7d;
  font-weight: 500;
}

.prof {
  background-color: #fff;
  padding: 3rem 3rem 0 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.prof__bio-holder {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-bottom: 3rem;
}
.prof__icon {
  font-size: 4rem;
  padding: 3rem;
  background-color: rgba(33, 63, 125, 0.2);
  border-radius: 50%;
}
.prof__bio, .prof__tier {
  border-right: 1px solid rgba(33, 63, 125, 0.15);
  padding-right: 3rem;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 44em) {
  .prof__bio-holder {
    flex-direction: column;
    justify-content: center;
  }
  .prof__bio, .prof__tier {
    align-items: center;
    border-right: none;
  }
}
@media only screen and (max-width: 75em) {
  .prof__bio-holder {
    gap: 1.5rem;
  }
  .prof__icon {
    font-size: 3rem;
    padding: 2rem;
  }
  .prof__bio, .prof__tier {
    padding-right: 1.5rem;
  }
}
.prof__name, .prof__cash {
  font-weight: 500;
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #213f7d;
  margin-bottom: 0.8rem;
}
.prof__code {
  font-size: 1.4rem;
}
.prof__title {
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}
.prof__rating-icon {
  color: #e9b200;
}
.prof__account {
  color: #213f7d;
  font-size: 1.2rem;
}
.prof__tabs {
  margin-top: 2rem;
}
@media only screen and (max-width: 75em) {
  .prof__tabs {
    display: none;
  }
}
.prof__list {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  text-align: center;
  list-style: none;
}
.prof__item {
  flex: 1;
}
.prof__link:any-link {
  overflow: hidden;
  display: block;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
.prof__link::after {
  content: "";
  display: table;
  margin-top: 1rem;
  height: 4px;
  width: 100%;
  background-color: #39cdcc;
  transform: translateX(-100%);
  transition: all 0.4s;
}
.prof__link:hover::after {
  transform: translateX(0);
}
.prof__link--active:any-link {
  color: #39cdcc;
}
.prof__link--active::after {
  transform: translateX(0);
}

.personal-info {
  background-color: #fff;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}
.personal-info__title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.personal-info__value {
  text-transform: capitalize;
  font-weight: 500;
}

.sidebar {
  width: 280px;
  height: calc(100vh - 7rem);
  background-color: #fff;
  padding: 2.4rem 0;
  position: sticky;
  top: 7rem;
  left: 0;
  overflow: auto;
  z-index: 5;
  scrollbar-width: none;
  transition: all 0.5s;
}
@media only screen and (max-width: 55em) {
  .sidebar {
    position: fixed;
    transform: translateX(-100%);
  }
}

.show {
  transform: translateX(0);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav__item {
  cursor: pointer;
}
.nav__item:last-child {
  font-size: 1.2rem;
  padding: 1.4rem 1.4rem 1.4rem 2.4rem;
}
.nav__text {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #213f7d;
  text-transform: capitalize;
  padding: 2.4rem;
}
.nav__subheading {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.4rem 1.4rem 1.4rem 2.4rem;
}
.nav__link:any-link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  color: rgba(33, 64, 125, 0.6823529412);
  text-transform: capitalize;
  padding: 1.4rem 1.4rem 1.4rem 2.4rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.nav__link::before {
  content: "";
  display: table;
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s 0.3s;
  transform: translateX(-100%);
  z-index: -1;
}
.nav__link::after {
  content: "";
  display: table;
  background-color: #39cdcc;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
  backface-visibility: hidden;
}
.nav__link:hover::before {
  transform: translateX(0);
  background-color: rgba(57, 205, 204, 0.08);
}
.nav__link:hover::after {
  transform: translateY(0);
}
.nav__link--active::before {
  transform: translateX(0);
  background-color: rgba(57, 205, 204, 0.08);
}
.nav__link--active::after {
  transform: translateY(0);
}
.nav__link--logout {
  color: #213f7d !important;
}
.nav__icon {
  width: 1.6rem;
  height: 1.6rem;
}

.header {
  width: 100%;
  height: 7rem;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  z-index: 100;
  position: sticky;
  top: 0;
  left: 0;
}
.header__link {
  color: #213f7d;
}
@media only screen and (max-width: 44em) {
  .header__link {
    display: none;
  }
}

.menu__btn {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.3rem;
  background: none;
  transition: all 0.2s;
}
.menu__btn:hover {
  background: rgba(33, 63, 125, 0.1);
}
@media only screen and (max-width: 55em) {
  .menu__btn {
    display: flex;
  }
}
.menu__icon {
  font-size: 2.4rem;
  color: #545f7d;
  cursor: pointer;
}

.search {
  width: 40rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
}
@media only screen and (max-width: 31.3em) {
  .search {
    display: none;
  }
}
.search__input {
  border: none;
  border-left: 1px solid rgba(33, 63, 125, 0.15);
  border-top: 1px solid rgba(33, 63, 125, 0.15);
  border-bottom: 1px solid rgba(33, 63, 125, 0.15);
  outline: none;
  flex: 1;
  padding-left: 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  color: inherit;
  border-radius: 0.8rem 0 0 0.8rem;
}
.search__btn {
  background-color: #39cdcc;
  border: none;
  outline: none;
  cursor: pointer;
  width: 6rem;
  height: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
}
.search__icon {
  font-size: 1.6rem;
  color: #fff;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #213f7d;
}
@media only screen and (max-width: 55em) {
  .profile {
    display: none;
  }
}
.profile__icon {
  font-size: 2.4rem;
  cursor: pointer;
}
.profile__icon[name=caret-down-outline] {
  font-size: 1.6rem;
}
.profile__img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}
.profile__name {
  font-weight: 500;
}

.dashboard {
  max-width: 153.6rem;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}
.dashboard__content-wrapper {
  display: flex;
  justify-content: flex-end;
}

::-webkit-scrollbar {
  background-color: rgba(84, 95, 125, 0.08);
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #39cdcc;
}

.grid {
  display: grid;
  column-gap: 6rem;
  row-gap: 3rem;
}
@media only screen and (max-width: 75em) {
  .grid {
    column-gap: 4.4rem;
  }
}

.col--1-of-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 75em) {
  .col--1-of-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 31.3em) {
  .col--1-of-4 {
    grid-template-columns: 1fr;
  }
}

.col--1-of-5 {
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 75em) {
  .col--1-of-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 31.3em) {
  .col--1-of-5 {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.comp.css.map */
