$color-white: #fff;
$color-black: #000;
$color-grey-light: #fbfbfb;
$color-primary-main: #39cdcc;
$color-primary-grey: #545f7d;
$color-secondary-grey: #213f7d;
$color-secondary-grey-tint: #21407dae;
$color-accent-1: #df18ff;
$color-accent-2: #5718ff;
$color-accent-3: #f55f44;
$color-accent-4: #ff3366;
$color-accent-5: #e9b200;
$color-accent-6: #39cd62;
$color-accent-7: #e4033b;
$default-font-size: 1.6rem;
$min-font-size: 1.2rem;
$medium-font-size: 1.4rem;
$font-weight-bold: 500;
$font-weight-bolder: 600;
$max-font-size: 2.4rem;
$bdr-line: 1px solid rgba($color-secondary-grey, 0.15);
$header-height: 7rem;
$sidebar-width: 28rem;
